*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
}
body{
    background-color: rgb(247, 220, 247);
}
button{
    font-family: 'Comfortaa', cursive;
}

/*Header*/
.header{
    height: 65px;
    width: 100%;
    position: fixed;
    background-color: rgb(121, 81, 190);
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 2.8rem;
}

/*Text Section*/

.text-section{
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
h3{
    font-size: 2.3rem;
    margin-bottom: 10px;
}
.text-section-p{
    font-size: 1.5rem;
}

/*Main*/

.main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.section-img{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 400px;
}
.button{
    width: 150px;
    height: 40px;
    margin-bottom: 40px;
    background-color: rgb(121, 81, 190);
    border-radius: 10px;
    color: rgb(248, 230, 253);
    cursor: pointer;
}
.button:hover{
    background-color: rgb(69, 46, 108);
}
.section-answer{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-answer span{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: auto;
    height: 60px;
    background-color: rgb(211, 164, 255);
    border-radius: 20px;
}
#input-answer{
    padding: 1%;
    width: 190px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

/*Footer*/
footer{
    padding-top: 50px;
    padding-bottom: 10px;
}
.footer-text{
    text-align: center;
    font-size: 1.6rem;
}